head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='EN')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	//- link(rel="icon", type="image/png", href="images/favicon.png")
	title New project
	link(rel='stylesheet', href='styles/styles.min.сss')
	script(src="js/libs.min.js")
	script(src="js/script.min.js", async)